<div class="page-header">
  <h1><a href="<%= article.url %>"><%= article.title %></a> <small><%= article.date.strftime('Posted on %Y/%m/%d at %H:%M') %></small></h1>
</div>
<div class="widget-row row-fluid">
  <div class="span9">
    <% article.tags.sort.each do |tag| %>
    <a href="<%= tag_path tag %>" class="tag-link"><span class="label label-info"><%= tag %></span></a>
    <% end %>
  </div>
  <div class="span3">
    <a href="https://twitter.com/share" class="twitter-share-button"
       data-url="<%= site_root %><%= article.url %>"
       data-text="<%= article.title %>: <%= site_root %><%= article.url %>"
       <% if article.tags.length > 0 %>
       data-hashtags="<%= article.tags.join(' ') %>"
       <% end %>
       data-via="whitlockjc"
       data-count="none"
       data-lang="en">Tweet</a>
    <span class="g-plusone"
         data-size="medium"
         data-annotation="none"
         data-href="<%= site_root %><%= article.url %>"></span>
  </div>
</div>
<div class="article-content">
  <%= article.body %>
</div>