---
site_page_type: archives
---
<% # Override/Set the title based on the scope of the archive request %>
<% case page_type
   when 'day' %>
  <% content_for :page_title do %>Archives for <%= Date.new(year, month, day).strftime('%Y/%m/%d') %><% end %>
<% when 'month' %>
  <% content_for :page_title do %>Archives for <%= Date.new(year, month, 1).strftime('%Y/%m') %><% end %>
<% when 'year' %>
  <% content_for :page_title do %>Archives for <%= year %><% end %>
<% end %>
<% wrap_layout :scaffolding do %>
<% wrap_layout :row_container do %>
<div class="page-header single-page-header">
  <h1>Archives for
    <% case page_type
       when 'day' %>
      <%= Date.new(year, month, day).strftime('%Y/%m/%d') %>
    <% when 'month' %>
      <%= Date.new(year, month, 1).strftime('%Y/%m') %>
    <% when 'year' %>
      <%= year %>
    <% end %>
  </h1>
</div>
<ul>
  <% page_articles.each_with_index do |article, i| %>
  <%= partial "layouts/article_as_list_item", :locals => {:article => article, :i => i} %>
  <% end %>
</ul>
<% end %>
<% end %>
