---
title: Tags List
site_page_type: tag
---
<% wrap_layout :row_container do %>
<div class="page-header single-page-header">
  <h1>Article Tags <small><%= blog.tags.length %> unique tags for <%= blog.articles.length %> articles</small></h1>
</div>
<% blog.tags.each do |tag, articles| %>
<% wrap_layout :row_container do %>
<h3><a href="/tags/<%= tag %>/"><%= tag %></a></h3>
<ul>
  <% articles.each do |article| %>
  <li>
    <a href="<%= article.url %>"><%= article.title %></a>
    <% article.tags.sort.each do |tag| %>
    <a href="<%= tag_path tag %>" class="tag-link"><span class="label label-info"><%= tag %></span></a>
    <% end %>
    <span>(<%= article.date.strftime('Posted on %Y/%m/%d at %H:%M') %>)</span>
  </li>
  <% end %>
</ul>
<% end %>
<% end %>
<% end %>