---
title: Archives
site_page_type: archives
---
<% wrap_layout :row_container do %>
<div class="page-header single-page-header">
  <h1>Archives</h1>
</div>
<h2>Archives by Year</h2>
<% articles_by_year.each do |year, articles| %>
<h3><a href="<%= absolute_url('/' + year.to_s + '/') %>"><%= year %></a></h3>
<ul>
  <% articles.each_with_index do |article, i| %>
  <%= partial "layouts/article_as_list_item", :locals => {:article => article, :i => i} %>
  <% end %>
</ul>
<% end %>
<h2>Archives by Tag</h2>
<% blog.tags.each do |tag, articles| %>
<h3><a href="<%= absolute_url(tag_path(tag)) %>"><%= tag %></a></h3>
<ul>
  <% articles.each_with_index do |article, i| %>
  <%= partial "layouts/article_as_list_item", :locals => {:article => article, :i => i} %>
  <% end %>
</ul>
<% end %>
<% end %>
